<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-gray-100 w-screen h-full">

    <!-- Header -->
    <div class="bg-[#FDFBD4] border-b-2 shadow px-6 py-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">📚 Notes</h1>
    </div>

    <!-- Notes Container -->
    <div class="p-5 bg-grey-100 h-[1fr] flex flex-wrap items-start gap-4">

        <% noteData.forEach(note=> { %>

            <!-- Card -->
            <div
                class="bg-[#FDFBD4] shadow-lg border-2 rounded-2xl shadow hover:shadow-lg transition p-5 flex flex-col justify-between">

                <!-- Icon -->
                <div class="flex justify-center mb-4">
                    <%let icon='/svgImg/file.svg' ;if (note.mimetype.startsWith('image/')) {icon='/svgImg/image.svg' ;}else if (note.mimetype==='application/pdf' ) {icon='/svgImg/pdf.svg' ;} else if(note.mimetype==='application/vnd.openxmlformats-officedocument.wordprocessingml.document' ){icon='/svgImg/text_word.svg' ;}%>

                        <img src="<%= icon %>" class="w-16 h-16">
                </div>

                <!-- File Info -->
                <div class="text-center">
                    <h2 class="font-semibold text-lg truncate">
                        <%= note.noteName %>
                    </h2>
                    <p class="text-sm text-gray-500">
                        Size: <%= (note.size / 1024).toFixed(2) %> KB
                    </p>
                </div>

                <!-- Buttons -->
                <div class="mt-4 flex gap-2">
                    <!-- View -->
                    <a href="<%= note.path %>" target="_blank"
                        class="flex-1 text-center bg-blue-500 border-2 border-black p-2 text-white py-2 rounded-lg hover:bg-blue-600">
                        View
                    </a>

                    <!-- Download -->
                    <a href="<%= note.path.replace('/upload/', '/upload/fl_attachment/') %>"" target=" _blank"
                        class="flex-1 text-center bg-green-500 p-2 border-2 border-black text-white py-2 rounded-lg hover:bg-green-600">
                        Download
                    </a>
                </div>

            </div>

            <% }) %>

    </div>

</body>

</html>